.shimmerContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem 2rem;
    padding: 3rem;
  }
  
  .cardShimmer {
    width: 20%;
    height: 15vh;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(216, 215, 215);
  }
  
  